<header>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap" rel="stylesheet" />
</header>
<style>
  body{
    background: #222221;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  body, input, button, h1, textarea {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
  }
  div {
    background: #222221;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .message-content{
    background: #222221;
  }
  img {
    height: 330px;
    width: 50%;
    margin: 50px 0;

  }
  p{
    color: #fff;
  }
  a {
    color: #feec4b;
  }
</style>
<body>
  <div class="message-content">
    <img src="https://app-calango.s3.amazonaws.com/logofinal.PNG" alt="logo" />
    <p>Olá, {{name}}</p>
    <p>Essa é a confirmação de sua aula experimental de Beach Tennis na {{place}}</p>
    <p>Dia {{date}}</p>
    <p>A aula tem duração de 30 minutos.</p>
    <p>Favor chegar com 5 minutos de antecedência.</p>
    <p>Venha com trajes esportivos , máscara e traga sua garrafinha de água e protetor solar (boné e óculos de sol são bem vindos).</p>
    <p><strong>Casos de cancelamento precisam ser avisados com antecedência de pelo menos 24 horas para que garanta uma nova data para a aula experimental gratuita.</strong></p>
    <p>Venha com trajes esportivos , máscara e traga sua garrafinha de água e protetor solar.</p>
    <p>Até lá!<br/><strong>BT Place</strong></p>
  </div>
</body>
