
<header>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap"
    rel="stylesheet"
  />
</header>
<style>
  body {
    background: #286738;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body,
  input,
  button,
  h1,
  textarea {
    font-family: "Arial", sans-serif;
    font-size: 16px;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  img {
    height: 80px;
    width: 250px;
    margin: 50px 0;
  }
  p,
  strong {
    color: #fff;
  }
  a {
    color: #cb5223;
  }
</style>
<body>
  <div class="message-content">

    <p>Obrigado por fazer parte da nossa turma!</p>
    <p>Você agora tem aula tod{{suffix}} {{day_of_week}} às {{hour}}</p>
    <p>
      No menu DASHBOARD, no seu aplicativo, você terá um QR Code da sua aula,
      apresente ele ao totem localizado na academia para marcar presença
    </p>
    <p>
      Caso você não puder comparecer à aula, cancele ela no próprio DASHBOARD
      do seu app
    </p>

    <p>Obrigado!</p>
    <strong>Academia Reinaldo Junqueira</strong>
  </div>
</body>
